<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Lista de productos
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>RFID</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Weight</th>
                            <th>Entry Date</th>
                            <th>Exit Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto:${products}">
                            <td th:text="${producto.id}"> </td>
                            <td th:text="${producto.RFID}"></td>
                            <td th:text="${producto.name}"></td>
                            <td th:text="${producto.quantity}"></td>
                            <td th:text="${producto.weight}"></td>
                            <td th:text="${#temporals.format(producto.entryDateTime, 'dd-MM-yyyy HH:mm')}"></td>
                            <td th:text="${#temporals.format(producto.exitDateTime, 'dd-MM-yyyy HH:mm')}"></td>
                            <td>
                                <a th:href="@{/editar/}+${producto.id}" class="btn btn-warning">Editar</a>
                                <a th:href="@{/eliminar/}+${producto.id}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; SeafoodTrace 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>